body {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  scroll-behavior: smooth;
  overflow: overlay;
}

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: rgb(0, 0, 0);
}

#container {
  width: 100%;
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  overflow: overlay;
}

.navBar {
  width: 100%;
  height: 45px;
  background: rgb(208, 255, 0);
  text-align: center;
  color: white;
}

.navBar a {
  margin: auto;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-family: "Zen Kaku Gothic New script=latin rev=2";
  background-color: rgb(0, 0, 0);
  width: 100px;
  white-space: pre-wrap;
  line-height: 115%;
}

mark {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 50px;
}

.test {
  background-color: black;
  width: 100%;
  height: fit-content;
}

.order {
  height: fit-content;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.person {
  width: 100%;

  height: 99vh;
  background-color: rgb(0, 0, 0);
}

.person button {
  background-color: rgba(255, 4, 4, 0);
  width: 25%;
  margin: auto;
  height: 99vh;
  cursor: pointer;
  position: absolute;
  border-style: none;
  border-width: 0px;
  border-color: rgba(255, 255, 255, 0);
  z-index: 0;
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: overlay;
  color: white;
  display: flex;
}

#one {
  background-image: url("./kanye.jpg");
  color: white;
}

#two {
  background-image: url("./two.png");
}

#three {
  background-image: url("./jo.png");
}

#four {
  background-image: url("./hard.png");
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(251, 255, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.textz {
  margin: auto;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100%;
  display: flex;
  grid-template-rows: 40% 60%;
}

h1 {
  font-size: 4.8rem;
  width: 100%;
  background-color: rgb(217, 255, 0);
  display: flex;
  white-space: pre-wrap;
  tab-size: 10px;
  color: white;
  font-family: "Zen Kaku Gothic New script=latin rev=2";
}

h2 {
  width: 100%;
  background-color: rgb(217, 255, 0);
  white-space: pre-wrap;
  display: flex;
  color: rgb(0, 0, 0);
  tab-size: 15px;
  font-family: "Zen Kaku Gothic New script=latin rev=2";
}

p {
  padding-left: 20px;
  padding-right: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.textz {
  display: inline;
  visibility: hidden;
}

@media only screen and (max-width: 1100px) {
  .order {
    grid-template-columns: auto;
  }
  .person button {
    width: 100%;
  }
  p {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 4rem;
  }
}
